{
  "openapi": "3.1.0",
  "info": {
    "title": "TrackPlay API",
    "description": "Send conversions and events to TrackPlay, and read them back. Authenticated with scoped tokens you mint in the dashboard.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.trackplay.io/api/v1",
      "description": "App API. Conversions, videos, webhooks."
    },
    {
      "url": "https://e.trackplay.io",
      "description": "Events API. High-volume event ingest."
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/conversions": {
      "post": {
        "operationId": "createConversion",
        "summary": "Record a conversion",
        "description": "Credit a sale to the video that caused it. Send `session_code` from the player so the conversion joins the play that produced it. Without it, the sale is recorded but cannot be attributed to a viewer.\n\nRequires a token with the `conversions:write` scope.\n\nServer: `https://app.trackplay.io/api/v1`",
        "tags": [
          "Conversions"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Retry-safe key. The first response for a given key is cached for 24 hours and replayed on a repeat, with `Idempotency-Replayed: true` set. Send one on every call. A retried payment webhook without it will double count the sale."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversionRequest"
              },
              "examples": {
                "sale": {
                  "summary": "A sale attributed to a viewer's session",
                  "value": {
                    "video_code": "9f2c1a7e-4d3b-4a11-9e77-0b2c5d8e1f34",
                    "session_code": "3b1e5c90-77aa-4f2d-8c31-6de0a9b41c22",
                    "conversion_id": "order_10482",
                    "conversion_value": 297.0,
                    "conversion_currency": "USD",
                    "conversion_product_name": "Pro Annual",
                    "conversion_customer_email": "buyer@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Conversion recorded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "recorded": {
                      "type": "boolean",
                      "examples": [
                        true
                      ]
                    },
                    "conversion_id": {
                      "type": "string",
                      "examples": [
                        "order_10482"
                      ]
                    },
                    "video_code": {
                      "type": "string"
                    },
                    "attributed_to_split_test": {
                      "type": "boolean",
                      "description": "True when the conversion was credited to a split-test arm."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked token."
          },
          "403": {
            "description": "Token does not carry the `conversions:write` scope."
          },
          "404": {
            "description": "No video with that `video_code` exists in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "examples": [
                        "Video not found in this workspace."
                      ]
                    },
                    "video_code": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failed."
          },
          "429": {
            "description": "Rate limited. The write limit is 60 requests per minute per token."
          },
          "503": {
            "description": "The conversion could not be written. Retry with the same `Idempotency-Key`."
          }
        }
      }
    },
    "/v1/event": {
      "post": {
        "operationId": "createEvent",
        "summary": "Send a custom event",
        "description": "Record something the player never saw (a lead form, a quiz completion, an upsell) and land it on the viewer's session.\n\nA custom event is not a conversion. `value` is reported on its own and never feeds revenue, ROAS, EPC, or RPV. Send money through [Record a conversion](/api-reference/conversions/create) instead.\n\nRequires a token with the `events:write` scope. The legacy `tp_` workspace key is rejected here.\n\nServer: `https://e.trackplay.io`",
        "tags": [
          "Events"
        ],
        "servers": [
          {
            "url": "https://e.trackplay.io"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomEventRequest"
              },
              "examples": {
                "attributed": {
                  "summary": "Event tied to a known session",
                  "value": {
                    "event": "quiz_completed",
                    "session_id": "3b1e5c90-77aa-4f2d-8c31-6de0a9b41c22",
                    "value": 10,
                    "event_id": "quiz_10482",
                    "properties": {
                      "plan": "pro",
                      "score": "8"
                    }
                  }
                },
                "identity": {
                  "summary": "No session. Resolve the viewer by email",
                  "value": {
                    "event": "lead_captured",
                    "email": "buyer@example.com",
                    "event_id": "lead_88213"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recorded and attributed to a session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomEventResponse"
                },
                "examples": {
                  "attributed": {
                    "value": {
                      "ok": true,
                      "event": "quiz_completed",
                      "event_id": "quiz_10482",
                      "attributed": true,
                      "matched_by": "session_id"
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Recorded, but no session matched. The event is kept in the Unattributed bucket. It is never dropped, and never guessed at. If you see this, the identifier you sent did not resolve to a viewer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomEventResponse"
                },
                "examples": {
                  "unattributed": {
                    "value": {
                      "ok": true,
                      "event": "quiz_completed",
                      "event_id": "quiz_10482",
                      "attributed": false,
                      "matched_by": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "`INVALID_PAYLOAD`: a field failed validation, or an unknown field was sent.\n\n`INVALID_EVENT_NAME`: `event` contained no usable characters after normalization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventError"
                }
              }
            }
          },
          "401": {
            "description": "`AUTH_REQUIRED`: no token sent.\n\n`INVALID_TOKEN`: the token is invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventError"
                }
              }
            }
          },
          "403": {
            "description": "`INSUFFICIENT_SCOPE`: the token does not carry `events:write`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventError"
                }
              }
            }
          },
          "422": {
            "description": "`TOO_MANY_EVENT_NAMES`: this workspace has used its 100 distinct event names. Event names must be a small fixed set. Put the varying part in `properties`, not in the name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventError"
                }
              }
            }
          },
          "429": {
            "description": "`RATE_LIMITED`: 600 events per minute per workspace, or 120 per minute per IP.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventError"
                }
              }
            }
          },
          "500": {
            "description": "`WRITE_FAILED`: the event could not be written. Retry with the same `event_id`. The retry will not double count.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventError"
                }
              }
            }
          },
          "503": {
            "description": "`AUTH_UNAVAILABLE`: token verification is temporarily unavailable. This is never a rejection of your token. Retry shortly.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventError"
                }
              }
            }
          }
        }
      }
    },
    "/videos/{video}/analytics/summary": {
      "get": {
        "operationId": "getVideoAnalyticsSummary",
        "summary": "Read a video's summary",
        "description": "The headline numbers for one video over a date range: plays, unique plays, completions, completion rate, average watch time, and bounces. This is the play-to-buyer story in one call.\n\nThe response carries `Cache-Control: private, max-age=60` and an `ETag`, and the summary is computed once and cached for 60 seconds. Conditional requests are not honoured yet: sending the `ETag` back as `If-None-Match` returns a full `200`, never a `304`.\n\nRequires a token with the `analytics:read` scope.\n\nServer: `https://app.trackplay.io/api/v1`",
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "video",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The video's numeric ID. It is the `video_id` returned in every analytics response."
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start of the range, as an ISO date (`YYYY-MM-DD`). Defaults to 30 days ago."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End of the range, as an ISO date (`YYYY-MM-DD`). Defaults to today."
          },
          {
            "name": "tz",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "UTC"
            },
            "description": "Timezone the range is read in, as an IANA name (`America/New_York`). Defaults to `UTC`."
          }
        ],
        "responses": {
          "200": {
            "description": "The summary for the range.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsSummaryResponse"
                },
                "examples": {
                  "summary": {
                    "value": {
                      "video_id": 481,
                      "video_code": "9f2c1a7e-4d3b-4a11-9e77-0b2c5d8e1f34",
                      "from": "2026-06-17",
                      "to": "2026-07-17",
                      "tz": "UTC",
                      "summary": {
                        "plays": 59627,
                        "unique_plays": 51204,
                        "completion_count": 8143,
                        "completion_rate": 13.7,
                        "avg_watch_time_s": 214.6,
                        "bounce_count": 6021
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "`AUTH_REQUIRED`: no token sent. `INVALID_TOKEN`: the token is invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "`INSUFFICIENT_SCOPE`: the token does not carry `analytics:read`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No video with that ID exists in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed. A date could not be parsed, or `to` fell before `from`."
          },
          "429": {
            "description": "Rate limited. Reads are capped at 600 requests per minute per token."
          }
        }
      }
    },
    "/videos/{video}/analytics/retention": {
      "get": {
        "operationId": "getVideoAnalyticsRetention",
        "summary": "Read a video's retention curve",
        "description": "The share of viewers still watching at each point through the video. Plot it to see the exact second your VSL loses people.\n\nEach bucket carries `watch_pct` as a **fraction between 0 and 1**, not a percent. `0.5` means half of viewers reached that point. Multiply by 100 to render a percentage.\n\nRequires a token with the `analytics:read` scope.\n\nServer: `https://app.trackplay.io/api/v1`",
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "video",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The video's numeric ID."
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start of the range, as an ISO date. Defaults to 30 days ago."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End of the range, as an ISO date. Defaults to today."
          },
          {
            "name": "tz",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "UTC"
            },
            "description": "Timezone the range is read in, as an IANA name. Defaults to `UTC`."
          },
          {
            "name": "buckets",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 200
            },
            "description": "How many points to divide the video into. Defaults to 100. Capped at 200."
          }
        ],
        "responses": {
          "200": {
            "description": "The retention curve.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetentionResponse"
                },
                "examples": {
                  "retention": {
                    "value": {
                      "video_id": 481,
                      "buckets": [
                        {
                          "bucket_pct": 0,
                          "watch_pct": 1.0
                        },
                        {
                          "bucket_pct": 25,
                          "watch_pct": 0.6413
                        },
                        {
                          "bucket_pct": 50,
                          "watch_pct": 0.4192
                        },
                        {
                          "bucket_pct": 75,
                          "watch_pct": 0.2517
                        },
                        {
                          "bucket_pct": 100,
                          "watch_pct": 0.1366
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "`AUTH_REQUIRED`: no token sent. `INVALID_TOKEN`: the token is invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "`INSUFFICIENT_SCOPE`: the token does not carry `analytics:read`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No video with that ID exists in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed. A date could not be parsed, `to` fell before `from`, or `buckets` was out of range."
          },
          "429": {
            "description": "Rate limited. Reads are capped at 600 requests per minute per token."
          }
        }
      }
    },
    "/videos/{video}/analytics/events": {
      "get": {
        "operationId": "getVideoAnalyticsEvents",
        "summary": "List a video's raw events",
        "description": "The raw, auditable event stream for one video: every play, pause, ended, and conversion, one row at a time. No vanity metric sits on top of it.\n\nThis endpoint is paginated. Read `events.total` for the count, then walk the pages with `page` and `per_page`. `ip_hash` is always `null` in the API response.\n\nRequires a token with the `analytics:read` scope.\n\nServer: `https://app.trackplay.io/api/v1`",
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "video",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The video's numeric ID."
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start of the range, as an ISO date. Defaults to 7 days ago."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End of the range, as an ISO date. Defaults to today."
          },
          {
            "name": "tz",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "UTC"
            },
            "description": "Timezone the range is read in, as an IANA name. Defaults to `UTC`."
          },
          {
            "name": "event_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Return only this event type, e.g. `play`, `pause`, `ended`, or `conversion`. Omit to return every type."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Which page to return. Defaults to 1."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 500
            },
            "description": "Rows per page. Defaults to 100. Capped at 500."
          }
        ],
        "responses": {
          "200": {
            "description": "One page of events.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventsResponse"
                },
                "examples": {
                  "events": {
                    "value": {
                      "video_id": 481,
                      "page": 1,
                      "per_page": 100,
                      "events": {
                        "total": 4812,
                        "data": [
                          {
                            "event_type": "play",
                            "event": "video-play",
                            "session_code": "3b1e5c90-77aa-4f2d-8c31-6de0a9b41c22",
                            "watch_seconds": 0,
                            "video_time": 0,
                            "created_at": "2026-07-16T14:02:11Z",
                            "ip_hash": null
                          },
                          {
                            "event_type": "conversion",
                            "event": "conversion",
                            "session_code": "3b1e5c90-77aa-4f2d-8c31-6de0a9b41c22",
                            "watch_seconds": 268,
                            "video_time": 214,
                            "created_at": "2026-07-16T14:06:39Z",
                            "ip_hash": null
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "`AUTH_REQUIRED`: no token sent. `INVALID_TOKEN`: the token is invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "`INSUFFICIENT_SCOPE`: the token does not carry `analytics:read`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No video with that ID exists in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed. A date could not be parsed, `to` fell before `from`, or `per_page` was out of range."
          },
          "429": {
            "description": "Rate limited. Reads are capped at 600 requests per minute per token."
          }
        }
      }
    },
    "/videos/{video}/analytics/conversions": {
      "get": {
        "operationId": "getVideoAnalyticsConversions",
        "summary": "Read a video's conversions",
        "description": "Sales credited to one video over a date range, grouped by conversion name, with a count and total revenue for each. This is the money the video earned, not the plays it counted.\n\nRequires a token with the `analytics:read` scope.\n\nServer: `https://app.trackplay.io/api/v1`",
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "video",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The video's numeric ID."
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start of the range, as an ISO date. Defaults to 30 days ago."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End of the range, as an ISO date. Defaults to today."
          },
          {
            "name": "tz",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "UTC"
            },
            "description": "Timezone the range is read in, as an IANA name. Defaults to `UTC`."
          }
        ],
        "responses": {
          "200": {
            "description": "Conversions grouped by name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionsResponse"
                },
                "examples": {
                  "conversions": {
                    "value": {
                      "video_id": 481,
                      "from": "2026-06-17",
                      "to": "2026-07-17",
                      "conversions": [
                        {
                          "event_name": "conversion",
                          "count": 214,
                          "total_revenue": 63558.0
                        },
                        {
                          "event_name": "upsell",
                          "count": 38,
                          "total_revenue": 7562.0
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "`AUTH_REQUIRED`: no token sent. `INVALID_TOKEN`: the token is invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "`INSUFFICIENT_SCOPE`: the token does not carry `analytics:read`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No video with that ID exists in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed. A date could not be parsed, or `to` fell before `from`."
          },
          "429": {
            "description": "Rate limited. Reads are capped at 600 requests per minute per token."
          }
        }
      }
    },
    "/exports": {
      "post": {
        "operationId": "createExport",
        "summary": "Start an export",
        "description": "Ask for a batch of analytics as a file. An export runs in the background, so this call returns straight away with an `export_id` and `status: pending`. Poll `GET /exports/{export}` until it is `ready`, then fetch the file from `download_url`.\n\nOne export can cover up to 50 videos.\n\nSend an `Idempotency-Key` so a retried request returns the same export instead of starting a second one.\n\nRequires a token with the `analytics:read` scope.\n\nServer: `https://app.trackplay.io/api/v1`",
        "tags": [
          "Exports"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Retry-safe key. The first response for a given key is cached for 24 hours and replayed on a repeat, with `Idempotency-Replayed: true` set."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExportRequest"
              },
              "examples": {
                "events": {
                  "summary": "Export raw events for two videos as CSV",
                  "value": {
                    "video_ids": [
                      481,
                      482
                    ],
                    "from": "2026-06-17",
                    "to": "2026-07-17",
                    "format": "csv",
                    "type": "events"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted. The export is queued. Poll its status to get the download link.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportCreatedResponse"
                },
                "examples": {
                  "pending": {
                    "value": {
                      "export_id": "tpex_9f2c1a7e4d3b4a11",
                      "status": "pending"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "`AUTH_REQUIRED`: no token sent. `INVALID_TOKEN`: the token is invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "`INSUFFICIENT_SCOPE`: the token does not carry `analytics:read`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "One or more of the `video_ids` do not exist in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "not_found": {
                    "value": {
                      "error": {
                        "code": "VIDEO_NOT_FOUND",
                        "message": "One or more video IDs not found."
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failed. Check `video_ids` holds 1 to 50 IDs, `to` is on or after `from`, and `format` and `type` are one of the allowed values."
          },
          "429": {
            "description": "Rate limited. Reads are capped at 600 requests per minute per token."
          }
        }
      }
    },
    "/exports/{export}": {
      "get": {
        "operationId": "getExport",
        "summary": "Get an export",
        "description": "Poll an export's status. While it runs, `status` is `pending`. When it finishes, `status` is `ready` and `download_url` carries the link to the file. Fetch the file from there.\n\nAn export expires after a while. A finished-then-expired export returns `404`.\n\nRequires a token with the `analytics:read` scope.\n\nServer: `https://app.trackplay.io/api/v1`",
        "tags": [
          "Exports"
        ],
        "parameters": [
          {
            "name": "export",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The `export_id` returned when you started the export, e.g. `tpex_9f2c1a7e4d3b4a11`."
          }
        ],
        "responses": {
          "200": {
            "description": "The export's current status. Carries `download_url` once `status` is `ready`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportStatusResponse"
                },
                "examples": {
                  "pending": {
                    "summary": "Still running",
                    "value": {
                      "export_id": "tpex_9f2c1a7e4d3b4a11",
                      "status": "pending",
                      "download_url": null
                    }
                  },
                  "ready": {
                    "summary": "Finished, ready to download",
                    "value": {
                      "export_id": "tpex_9f2c1a7e4d3b4a11",
                      "status": "ready",
                      "download_url": "https://app.trackplay.io/api/v1/exports/tpex_9f2c1a7e4d3b4a11/download"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "`AUTH_REQUIRED`: no token sent. `INVALID_TOKEN`: the token is invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "`INSUFFICIENT_SCOPE`: the token does not carry `analytics:read`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No export with that ID, or it has expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "not_found": {
                    "value": {
                      "error": {
                        "code": "EXPORT_NOT_FOUND",
                        "message": "Export not found or expired."
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Reads are capped at 600 requests per minute per token."
          }
        }
      }
    },
    "/workspace": {
      "get": {
        "operationId": "getWorkspace",
        "summary": "Read the workspace",
        "description": "Returns the ID, name, and public code of the workspace the token belongs to. Useful as a lightweight check that a token is valid and to learn the workspace's code before calling endpoints that need it.\n\nRequires a token with the `videos:read` scope.",
        "tags": [
          "Videos"
        ],
        "responses": {
          "200": {
            "description": "The workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceResponse"
                }
              }
            }
          },
          "401": {
            "description": "`AUTH_REQUIRED`: no token sent. `INVALID_TOKEN`: the token is invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "`INSUFFICIENT_SCOPE`: the token does not carry `videos:read`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. 600 requests per minute per token."
          }
        }
      }
    },
    "/videos": {
      "get": {
        "operationId": "listVideos",
        "summary": "List videos",
        "description": "Lists the videos in this workspace, paginated, with optional sorting.\n\nRequires a token with the `videos:read` scope.",
        "tags": [
          "Videos"
        ],
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "title",
                "code",
                "created_at",
                "updated_at"
              ]
            },
            "description": "Which column to sort by. Any other value is ignored and the list falls back to `id desc`."
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of videos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoListResponse"
                }
              }
            }
          },
          "401": {
            "description": "`AUTH_REQUIRED`: no token sent. `INVALID_TOKEN`: the token is invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "`INSUFFICIENT_SCOPE`: the token does not carry `videos:read`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. 600 requests per minute per token."
          }
        }
      },
      "post": {
        "operationId": "createVideo",
        "summary": "Create a video",
        "description": "Creates a new, empty video shell. The video has no playable media until you upload one with the resumable upload protocol or the single-shot upload endpoint.\n\nPass `copy_from` to clone every option-group setting (style, playback, autoplay, captions, chapters, CTA cards, and the rest) from an existing video in this workspace. Source media is never copied: the new video still needs its own upload.\n\nFires the `video.created` webhook.\n\nRequires a token with the `videos:write` scope.",
        "tags": [
          "Videos"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Retry-safe key. The first response for a given key is cached for 24 hours and replayed on a repeat, with `Idempotency-Replayed: true` set."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoCreateRequest"
              },
              "examples": {
                "basic": {
                  "value": {
                    "title": "New VSL",
                    "player_version": "v2"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The video was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "`AUTH_REQUIRED`: no token sent. `INVALID_TOKEN`: the token is invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "`INSUFFICIENT_SCOPE`: the token does not carry `videos:write`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. 60 requests per minute per token."
          }
        }
      }
    },
    "/videos/{video}": {
      "get": {
        "operationId": "getVideo",
        "summary": "Get a video",
        "description": "Reads one video by its numeric ID.\n\nRequires a token with the `videos:read` scope.",
        "tags": [
          "Videos"
        ],
        "parameters": [
          {
            "name": "video",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The video's numeric ID."
          }
        ],
        "responses": {
          "200": {
            "description": "The video.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "`AUTH_REQUIRED`: no token sent. `INVALID_TOKEN`: the token is invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "`INSUFFICIENT_SCOPE`: the token does not carry `videos:read`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No video with that ID exists in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. 600 requests per minute per token."
          }
        }
      },
      "patch": {
        "operationId": "updateVideo",
        "summary": "Update a video",
        "description": "Updates a video's title, folder, or tags. Every field is optional: send only what you want to change. This endpoint does not touch playback settings; use draft and deploy for those.\n\nRequires a token with the `videos:write` scope.",
        "tags": [
          "Videos"
        ],
        "parameters": [
          {
            "name": "video",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The video's numeric ID."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Retry-safe key. The first response for a given key is cached for 24 hours and replayed on a repeat, with `Idempotency-Replayed: true` set."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated video.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "`AUTH_REQUIRED`: no token sent. `INVALID_TOKEN`: the token is invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "`INSUFFICIENT_SCOPE`: the token does not carry `videos:write`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No video with that ID exists in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LaravelNotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. 60 requests per minute per token."
          }
        }
      },
      "delete": {
        "operationId": "deleteVideo",
        "summary": "Delete a video",
        "description": "Deletes a video and any pending settings draft on it. This does not delete the video's past deploy versions or its analytics history. Fires the `video.deleted` webhook.\n\nThis cannot be undone through the API. There is no restore-a-deleted-video endpoint.\n\nRequires a token with the `videos:write` scope.",
        "tags": [
          "Videos"
        ],
        "parameters": [
          {
            "name": "video",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The video's numeric ID."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Retry-safe key. The first response for a given key is cached for 24 hours and replayed on a repeat, with `Idempotency-Replayed: true` set."
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedResponse"
                }
              }
            }
          },
          "401": {
            "description": "`AUTH_REQUIRED`: no token sent. `INVALID_TOKEN`: the token is invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "`INSUFFICIENT_SCOPE`: the token does not carry `videos:write`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No video with that ID exists in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LaravelNotFoundError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. 60 requests per minute per token."
          }
        }
      }
    },
    "/videos/{video}/duplicate": {
      "post": {
        "operationId": "duplicateVideo",
        "summary": "Duplicate a video",
        "description": "Copies a video, including every option-group setting, under a new title (`<original title> (copy)`). The copy's HLS URLs and thumbnails are cleared: a duplicate needs its own upload, because media is never copied.\n\nRequires a token with the `videos:write` scope.",
        "tags": [
          "Videos"
        ],
        "parameters": [
          {
            "name": "video",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The video's numeric ID."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Retry-safe key. The first response for a given key is cached for 24 hours and replayed on a repeat, with `Idempotency-Replayed: true` set."
          }
        ],
        "responses": {
          "201": {
            "description": "The duplicate.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "`AUTH_REQUIRED`: no token sent. `INVALID_TOKEN`: the token is invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "`INSUFFICIENT_SCOPE`: the token does not carry `videos:write`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No video with that ID exists in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LaravelNotFoundError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. 60 requests per minute per token."
          }
        }
      }
    },
    "/videos/{video}/settings": {
      "get": {
        "operationId": "getVideoSettings",
        "summary": "Read a video's settings",
        "description": "Returns every option-group column on the video: style, playback, autoplay, captions, chapters, CTA cards, playlist, and the rest. This is the live, deployed settings, not a draft.\n\nRequires a token with the `videos:read` scope.",
        "tags": [
          "Videos"
        ],
        "parameters": [
          {
            "name": "video",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The video's numeric ID."
          }
        ],
        "responses": {
          "200": {
            "description": "The video's settings.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoSettingsResponse"
                }
              }
            }
          },
          "401": {
            "description": "`AUTH_REQUIRED`: no token sent. `INVALID_TOKEN`: the token is invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "`INSUFFICIENT_SCOPE`: the token does not carry `videos:read`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No video with that ID exists in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. 600 requests per minute per token."
          }
        }
      }
    },
    "/videos/{video}/embed": {
      "get": {
        "operationId": "getVideoEmbed",
        "summary": "Read a video's embed code",
        "description": "Returns the ready-to-paste embed HTML for this video, along with its timed events (chapters, CTA cards, and similar) in playback order.\n\nRequires a token with the `videos:read` scope.",
        "tags": [
          "Videos"
        ],
        "parameters": [
          {
            "name": "video",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The video's numeric ID."
          }
        ],
        "responses": {
          "200": {
            "description": "The embed code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbedResponse"
                }
              }
            }
          },
          "401": {
            "description": "`AUTH_REQUIRED`: no token sent. `INVALID_TOKEN`: the token is invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "`INSUFFICIENT_SCOPE`: the token does not carry `videos:read`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No video with that ID exists in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. 600 requests per minute per token."
          }
        }
      }
    },
    "/videos/{video}/config": {
      "get": {
        "operationId": "getVideoConfig",
        "summary": "Read a video's player config",
        "description": "Returns the shape the embed loader itself reads to size the player before the first frame paints: the workspace and video codes, and each orientation's dimensions and aspect ratio. `landscape` or `portrait` is `null` until an asset has been uploaded for that orientation.\n\nRequires a token with the `videos:read` scope.",
        "tags": [
          "Videos"
        ],
        "parameters": [
          {
            "name": "video",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The video's numeric ID."
          }
        ],
        "responses": {
          "200": {
            "description": "The player config.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigResponse"
                }
              }
            }
          },
          "401": {
            "description": "`AUTH_REQUIRED`: no token sent. `INVALID_TOKEN`: the token is invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "`INSUFFICIENT_SCOPE`: the token does not carry `videos:read`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No video with that ID exists in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. 600 requests per minute per token."
          }
        }
      }
    },
    "/videos/{video}/draft": {
      "post": {
        "operationId": "draftVideoSettings",
        "summary": "Save a settings draft",
        "description": "Saves a partial or full settings payload without publishing it. The payload is merged recursively over whatever is already drafted, or over the live settings if there is no draft yet, so you only need to send the option groups you are changing.\n\nThe merged payload is validated with the same rules the dashboard's Customize screen enforces, so an invalid value in any option group fails the whole request. Nothing is published: the player a viewer sees is unchanged until you call deploy.\n\nRequires a token with the `videos:write` scope.",
        "tags": [
          "Video settings"
        ],
        "parameters": [
          {
            "name": "video",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The video's numeric ID."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Retry-safe key. The first response for a given key is cached for 24 hours and replayed on a repeat, with `Idempotency-Replayed: true` set."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SettingsPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The full merged draft.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DraftResponse"
                }
              }
            }
          },
          "401": {
            "description": "`AUTH_REQUIRED`: no token sent. `INVALID_TOKEN`: the token is invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "`INSUFFICIENT_SCOPE`: the token does not carry `videos:write`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No video with that ID exists in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LaravelNotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed on the merged settings payload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. 60 requests per minute per token."
          }
        }
      }
    },
    "/videos/{video}/deploy": {
      "post": {
        "operationId": "deployVideoSettings",
        "summary": "Deploy settings",
        "description": "Publishes a partial or full settings payload and recompiles the player bundle. The payload is merged recursively over the current live settings, validated, saved, and any pending draft is cleared.\n\nThe player is compiled and pushed to both CDNs before anything is marked live: if the compile or the CDN push fails, the call fails with a 500 and the previous version keeps serving, so a viewer never sees a half-published player. On success this busts the AI-segment settings cache, snapshots a new version you can restore later, and fires the `video.settings.deployed` webhook.\n\nRequires a token with the `videos:write` scope.",
        "tags": [
          "Video settings"
        ],
        "parameters": [
          {
            "name": "video",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The video's numeric ID."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Retry-safe key. The first response for a given key is cached for 24 hours and replayed on a repeat, with `Idempotency-Replayed: true` set."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SettingsPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deployed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeployResponse"
                }
              }
            }
          },
          "401": {
            "description": "`AUTH_REQUIRED`: no token sent. `INVALID_TOKEN`: the token is invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "`INSUFFICIENT_SCOPE`: the token does not carry `videos:write`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No video with that ID exists in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LaravelNotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed on the merged settings payload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. 60 requests per minute per token."
          },
          "500": {
            "description": "The player failed to compile, or the compiled bundle failed to reach the CDN. Nothing was marked live. Retry the deploy."
          }
        }
      }
    },
    "/videos/{video}/deploys": {
      "get": {
        "operationId": "listVideoDeploys",
        "summary": "List past deploys",
        "description": "Lists this video's deploy versions, newest first, 20 per page. Each entry is a full settings snapshot you can inspect or restore.\n\nRequires a token with the `videos:write` scope, because a version's `settings_snapshot` can carry the same sensitive fields (Stripe price IDs, pixel IDs) a write token is already trusted with.",
        "tags": [
          "Video settings"
        ],
        "parameters": [
          {
            "name": "video",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The video's numeric ID."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of versions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploysListResponse"
                }
              }
            }
          },
          "401": {
            "description": "`AUTH_REQUIRED`: no token sent. `INVALID_TOKEN`: the token is invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "`INSUFFICIENT_SCOPE`: the token does not carry `videos:write`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No video with that ID exists in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LaravelNotFoundError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. 60 requests per minute per token."
          }
        }
      }
    },
    "/videos/{video}/deploys/{version}/restore": {
      "post": {
        "operationId": "restoreVideoDeploy",
        "summary": "Restore a past deploy",
        "description": "Re-applies a past version's settings snapshot as the video's live settings, recompiles the player, and snapshots the restore itself as a new version. Restoring is not destructive to history: the version you restored from, and every version before it, are still there afterward.\n\nLike deploy, the player is compiled and pushed to both CDNs before anything is marked live.\n\nRequires a token with the `videos:write` scope.",
        "tags": [
          "Video settings"
        ],
        "parameters": [
          {
            "name": "video",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The video's numeric ID."
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The version ID to restore, from `GET /videos/{video}/deploys`."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Retry-safe key. The first response for a given key is cached for 24 hours and replayed on a repeat, with `Idempotency-Replayed: true` set."
          }
        ],
        "responses": {
          "200": {
            "description": "Restored.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestoreResponse"
                }
              }
            }
          },
          "401": {
            "description": "`AUTH_REQUIRED`: no token sent. `INVALID_TOKEN`: the token is invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "`INSUFFICIENT_SCOPE`: the token does not carry `videos:write`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No video with that ID exists in this workspace, or no version with that ID exists on this video.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LaravelNotFoundError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. 60 requests per minute per token."
          },
          "500": {
            "description": "The player failed to compile, or the compiled bundle failed to reach the CDN. The video's settings were already overwritten with the restored snapshot at this point; retry the restore to reach a consistent compiled state."
          }
        }
      }
    },
    "/videos/{video}/upload/init": {
      "post": {
        "operationId": "initVideoUpload",
        "summary": "Start a resumable upload",
        "description": "Starts a resumable upload session for one orientation of a video. Send the file in 20 MB chunks with `PATCH /uploads/{upload}`, then finish with `POST /uploads/{upload}/complete`. The session expires 24 hours after it is created; chunks sent after that return `404 UPLOAD_NOT_FOUND`.\n\nFor files under 100 MB, the single-shot upload endpoint is simpler and needs no session management.\n\nRequires a token with the `videos:write` scope.",
        "tags": [
          "Uploads"
        ],
        "parameters": [
          {
            "name": "video",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The video's numeric ID."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Retry-safe key. The first response for a given key is cached for 24 hours and replayed on a repeat, with `Idempotency-Replayed: true` set."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadInitRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The upload session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadInitResponse"
                }
              }
            }
          },
          "401": {
            "description": "`AUTH_REQUIRED`: no token sent. `INVALID_TOKEN`: the token is invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "`INSUFFICIENT_SCOPE`: the token does not carry `videos:write`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No video with that ID exists in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LaravelNotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed. Check `size` is between 1 and 10,737,418,240 bytes, and `mime_type` is one of the supported video types.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. 60 requests per minute per token."
          }
        }
      }
    },
    "/uploads/{upload}": {
      "patch": {
        "operationId": "uploadVideoChunk",
        "summary": "Send an upload chunk",
        "description": "Sends one chunk of raw bytes for a resumable upload session. Send the `Upload-Offset` header set to the number of bytes already sent (0 for the first chunk), and the chunk itself as the raw request body with `Content-Type: application/offset+octet-stream`.\n\nThis call is idempotent at the current offset: resending the offset you already sent returns the session's current offset unchanged, without writing the chunk twice. Sending an offset ahead of what the session has recorded means a chunk was lost in transit; the call fails with a 409 so you can resend from the session's real offset instead of leaving a gap in the assembled file.\n\nRequires a token with the `videos:write` scope.",
        "tags": [
          "Uploads"
        ],
        "parameters": [
          {
            "name": "upload",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The `upload_id` from `POST /videos/{video}/upload/init`."
          },
          {
            "name": "Upload-Offset",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The number of bytes already sent for this upload, before this chunk."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/offset+octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The chunk was written, or this offset was already written and the chunk was not repeated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadChunkResponse"
                }
              }
            }
          },
          "400": {
            "description": "`EMPTY_CHUNK`: the request body carried no bytes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "`AUTH_REQUIRED`: no token sent. `INVALID_TOKEN`: the token is invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "`INSUFFICIENT_SCOPE`: the token does not carry `videos:write`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "`UPLOAD_NOT_FOUND`: no upload session with that ID, or it expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "`OFFSET_MISMATCH`: the `Upload-Offset` header does not match the session's recorded offset. The response names the expected offset; resend from there.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. 60 requests per minute per token."
          }
        }
      },
      "delete": {
        "operationId": "abortVideoUpload",
        "summary": "Abort an upload",
        "description": "Cancels a resumable upload session and deletes any chunks received so far. Returns `{\"deleted\": true}` even if the session had already expired or never existed: aborting a session that is not there is not an error.\n\nRequires a token with the `videos:write` scope.",
        "tags": [
          "Uploads"
        ],
        "parameters": [
          {
            "name": "upload",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The `upload_id` from `POST /videos/{video}/upload/init`."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Retry-safe key. The first response for a given key is cached for 24 hours and replayed on a repeat, with `Idempotency-Replayed: true` set."
          }
        ],
        "responses": {
          "200": {
            "description": "Aborted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedResponse"
                }
              }
            }
          },
          "401": {
            "description": "`AUTH_REQUIRED`: no token sent. `INVALID_TOKEN`: the token is invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "`INSUFFICIENT_SCOPE`: the token does not carry `videos:write`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. 60 requests per minute per token."
          }
        }
      }
    },
    "/uploads/{upload}/complete": {
      "post": {
        "operationId": "completeVideoUpload",
        "summary": "Finish a resumable upload",
        "description": "Assembles every chunk received for this session in order and pushes the result to the video CDN. On success, the video's HLS URL and dimensions for that orientation are set and the session's temporary files are deleted. Fires the `video.uploaded` webhook.\n\nCalling this before any chunks were sent fails with a 400. A CDN failure leaves the video unchanged and returns a 500: retry the complete call, the assembled chunks are only cleaned up after a successful push.\n\nRequires a token with the `videos:write` scope.",
        "tags": [
          "Uploads"
        ],
        "parameters": [
          {
            "name": "upload",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The `upload_id` from `POST /videos/{video}/upload/init`."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Retry-safe key. The first response for a given key is cached for 24 hours and replayed on a repeat, with `Idempotency-Replayed: true` set."
          }
        ],
        "responses": {
          "200": {
            "description": "Upload finished. The video now carries the uploaded asset for the requested orientation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "`NO_CHUNKS`: no chunks were received for this session before calling complete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "`AUTH_REQUIRED`: no token sent. `INVALID_TOKEN`: the token is invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "`INSUFFICIENT_SCOPE`: the token does not carry `videos:write`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "`UPLOAD_NOT_FOUND`: no upload session with that ID, or it expired. `VIDEO_NOT_FOUND`: the video the session was started for no longer exists in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. 60 requests per minute per token."
          },
          "500": {
            "description": "`CDN_ERROR`: the assembled file failed to reach the CDN. Retry the complete call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/videos/{video}/upload": {
      "post": {
        "operationId": "uploadVideoSingleShot",
        "summary": "Upload a video in one request",
        "description": "Uploads a video file directly, for files up to 100 MB. Send `multipart/form-data` with the file in a `file` field. For larger files, use the resumable upload protocol (`POST /videos/{video}/upload/init` and following) instead: a single request that fails partway through a 100 MB body has to restart from zero, a resumable session does not.\n\nOn success, the video's HLS URL and dimensions for the requested orientation are set. Fires no webhook: `video.uploaded` only fires from the resumable protocol's complete step.\n\nRequires a token with the `videos:write` scope.",
        "tags": [
          "Uploads"
        ],
        "parameters": [
          {
            "name": "video",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The video's numeric ID."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Retry-safe key. The first response for a given key is cached for 24 hours and replayed on a repeat, with `Idempotency-Replayed: true` set."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The video file. Up to 100 MB. Must be mp4, mov (quicktime/m4v), avi, or webm."
                  },
                  "orientation": {
                    "type": "string",
                    "enum": [
                      "landscape",
                      "portrait"
                    ],
                    "default": "landscape"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Uploaded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "`AUTH_REQUIRED`: no token sent. `INVALID_TOKEN`: the token is invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "`INSUFFICIENT_SCOPE`: the token does not carry `videos:write`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No video with that ID exists in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LaravelNotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed. `file` is required, at most 100 MB, and must be one of the supported video MIME types.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. 60 requests per minute per token."
          },
          "500": {
            "description": "`CDN_ERROR`: the file failed to reach the CDN. Retry the upload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/videos/{video}/captions/{lang}": {
      "put": {
        "operationId": "putVideoCaptions",
        "summary": "Add or replace a caption track",
        "description": "Adds a caption track for the given language, or replaces the existing track for that language if one is already saved. This only ever touches the one language in the path: every other track on the video is left alone. Recompiles the player so the new track is live immediately.\n\nRequires a token with the `videos:write` scope.",
        "tags": [
          "Captions and chapters"
        ],
        "parameters": [
          {
            "name": "video",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The video's numeric ID."
          },
          {
            "name": "lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The language code for this track, e.g. `en` or `es`. Not validated against a fixed list: whatever you send is what viewers see as the track's key."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaptionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The video's full caption track list, including the track you wrote.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaptionsResponse"
                }
              }
            }
          },
          "401": {
            "description": "`AUTH_REQUIRED`: no token sent. `INVALID_TOKEN`: the token is invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "`INSUFFICIENT_SCOPE`: the token does not carry `videos:write`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No video with that ID exists in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LaravelNotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. 60 requests per minute per token."
          }
        }
      }
    },
    "/videos/{video}/chapters": {
      "put": {
        "operationId": "putVideoChapters",
        "summary": "Replace a video's chapters",
        "description": "Replaces the video's entire chapter list. This is a full replace, not a merge: send every chapter you want to keep, including ones already saved, or they are removed. An empty `chapters` array turns chapters off. Recompiles the player.\n\nRequires a token with the `videos:write` scope.",
        "tags": [
          "Captions and chapters"
        ],
        "parameters": [
          {
            "name": "video",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The video's numeric ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChaptersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The video's chapters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChaptersResponse"
                }
              }
            }
          },
          "401": {
            "description": "`AUTH_REQUIRED`: no token sent. `INVALID_TOKEN`: the token is invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "`INSUFFICIENT_SCOPE`: the token does not carry `videos:write`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No video with that ID exists in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LaravelNotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. 60 requests per minute per token."
          }
        }
      }
    },
    "/videos/{video}/ai-segments": {
      "post": {
        "operationId": "putVideoAiSegments",
        "summary": "Replace a video's AI segments",
        "description": "Replaces the video's entire AI-segment list: the labeled time ranges used for segment-based navigation and highlights. This is a full replace, not a merge. Busts the AI-segment settings cache on the events edge so the new segments are visible on the next load, without a full deploy.\n\nRequires a token with the `videos:write` scope.",
        "tags": [
          "Captions and chapters"
        ],
        "parameters": [
          {
            "name": "video",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The video's numeric ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AiSegmentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The video's AI segments.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiSegmentsResponse"
                }
              }
            }
          },
          "401": {
            "description": "`AUTH_REQUIRED`: no token sent. `INVALID_TOKEN`: the token is invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "`INSUFFICIENT_SCOPE`: the token does not carry `videos:write`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No video with that ID exists in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LaravelNotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed. Check every segment's `end_s` is greater than its `start_s`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. 60 requests per minute per token."
          }
        }
      }
    },
    "/videos/{video}/cta-cards": {
      "post": {
        "operationId": "putVideoCtaCards",
        "summary": "Replace a video's CTA cards",
        "description": "Replaces the video's entire CTA card list: the timed, clickable cards that appear over the player. This is a full replace, not a merge: send every card you want to keep. An empty `cards` array turns CTA cards off. Recompiles the player.\n\nRequires a token with the `videos:write` scope.",
        "tags": [
          "Captions and chapters"
        ],
[...]
