{
  "openapi": "3.1.0",
  "info": {
    "title": "TrackPlay API",
    "description": "Send conversions and events to TrackPlay, and read them back. Authenticated with scoped tokens you mint in the dashboard.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.trackplay.io/api/v1",
      "description": "App API. Conversions, videos, webhooks."
    },
    {
      "url": "https://e.trackplay.io",
      "description": "Events API. High-volume event ingest."
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/conversions": {
      "post": {
        "operationId": "createConversion",
        "summary": "Record a conversion",
        "description": "Credit a sale to the video that caused it. Send `session_code` from the player so the conversion joins the play that produced it. Without it, the sale is recorded but cannot be attributed to a viewer.\n\nRequires a token with the `conversions:write` scope.\n\nServer: `https://app.trackplay.io/api/v1`",
        "tags": [
          "Conversions"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Retry-safe key. The first response for a given key is cached for 24 hours and replayed on a repeat, with `Idempotency-Replayed: true` set. Send one on every call. A retried payment webhook without it will double count the sale."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversionRequest"
              },
              "examples": {
                "sale": {
                  "summary": "A sale attributed to a viewer's session",
                  "value": {
                    "video_code": "9f2c1a7e-4d3b-4a11-9e77-0b2c5d8e1f34",
                    "session_code": "3b1e5c90-77aa-4f2d-8c31-6de0a9b41c22",
                    "conversion_id": "order_10482",
                    "conversion_value": 297.0,
                    "conversion_currency": "USD",
                    "conversion_product_name": "Pro Annual",
                    "conversion_customer_email": "buyer@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Conversion recorded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "recorded": {
                      "type": "boolean",
                      "examples": [
                        true
                      ]
                    },
                    "conversion_id": {
                      "type": "string",
                      "examples": [
                        "order_10482"
                      ]
                    },
                    "video_code": {
                      "type": "string"
                    },
                    "attributed_to_split_test": {
                      "type": "boolean",
                      "description": "True when the conversion was credited to a split-test arm."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked token."
          },
          "403": {
            "description": "Token does not carry the `conversions:write` scope."
          },
          "404": {
            "description": "No video with that `video_code` exists in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "examples": [
                        "Video not found in this workspace."
                      ]
                    },
                    "video_code": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failed."
          },
          "429": {
            "description": "Rate limited. The write limit is 60 requests per minute per token."
          },
          "503": {
            "description": "The conversion could not be written. Retry with the same `Idempotency-Key`."
          }
        }
      }
    },
    "/v1/event": {
      "post": {
        "operationId": "createEvent",
        "summary": "Send a custom event",
        "description": "Record something the player never saw (a lead form, a quiz completion, an upsell) and land it on the viewer's session.\n\nA custom event is not a conversion. `value` is reported on its own and never feeds revenue, ROAS, EPC, or RPV. Send money through [Record a conversion](/api-reference/conversions/create) instead.\n\nRequires a token with the `events:write` scope. The legacy `tp_` workspace key is rejected here.\n\nServer: `https://e.trackplay.io`",
        "tags": [
          "Events"
        ],
        "servers": [
          {
            "url": "https://e.trackplay.io"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomEventRequest"
              },
              "examples": {
                "attributed": {
                  "summary": "Event tied to a known session",
                  "value": {
                    "event": "quiz_completed",
                    "session_id": "3b1e5c90-77aa-4f2d-8c31-6de0a9b41c22",
                    "value": 10,
                    "event_id": "quiz_10482",
                    "properties": {
                      "plan": "pro",
                      "score": "8"
                    }
                  }
                },
                "identity": {
                  "summary": "No session. Resolve the viewer by email",
                  "value": {
                    "event": "lead_captured",
                    "email": "buyer@example.com",
                    "event_id": "lead_88213"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recorded and attributed to a session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomEventResponse"
                },
                "examples": {
                  "attributed": {
                    "value": {
                      "ok": true,
                      "event": "quiz_completed",
                      "event_id": "quiz_10482",
                      "attributed": true,
                      "matched_by": "session_id"
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Recorded, but no session matched. The event is kept in the Unattributed bucket. It is never dropped, and never guessed at. If you see this, the identifier you sent did not resolve to a viewer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomEventResponse"
                },
                "examples": {
                  "unattributed": {
                    "value": {
                      "ok": true,
                      "event": "quiz_completed",
                      "event_id": "quiz_10482",
                      "attributed": false,
                      "matched_by": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "`INVALID_PAYLOAD`: a field failed validation, or an unknown field was sent.\n\n`INVALID_EVENT_NAME`: `event` contained no usable characters after normalization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventError"
                }
              }
            }
          },
          "401": {
            "description": "`AUTH_REQUIRED`: no token sent.\n\n`INVALID_TOKEN`: the token is invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventError"
                }
              }
            }
          },
          "403": {
            "description": "`INSUFFICIENT_SCOPE`: the token does not carry `events:write`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventError"
                }
              }
            }
          },
          "422": {
            "description": "`TOO_MANY_EVENT_NAMES`: this workspace has used its 100 distinct event names. Event names must be a small fixed set. Put the varying part in `properties`, not in the name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventError"
                }
              }
            }
          },
          "429": {
            "description": "`RATE_LIMITED`: 600 events per minute per workspace, or 120 per minute per IP.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventError"
                }
              }
            }
          },
          "500": {
            "description": "`WRITE_FAILED`: the event could not be written. Retry with the same `event_id`. The retry will not double count.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventError"
                }
              }
            }
          },
          "503": {
            "description": "`AUTH_UNAVAILABLE`: token verification is temporarily unavailable. This is never a rejection of your token. Retry shortly.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventError"
                }
              }
            }
          }
        }
      }
    },
    "/videos/{video}/analytics/summary": {
      "get": {
        "operationId": "getVideoAnalyticsSummary",
        "summary": "Read a video's summary",
        "description": "The headline numbers for one video over a date range: plays, unique plays, completions, completion rate, average watch time, and bounces. This is the play-to-buyer story in one call.\n\nThe response carries `Cache-Control: private, max-age=60` and an `ETag`. Send the `ETag` back as `If-None-Match` and a repeat within the window returns `304 Not Modified` with no body.\n\nRequires a token with the `analytics:read` scope.\n\nServer: `https://app.trackplay.io/api/v1`",
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "video",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The video's numeric ID. It is the `video_id` returned in every analytics response."
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start of the range, as an ISO date (`YYYY-MM-DD`). Defaults to 30 days ago."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End of the range, as an ISO date (`YYYY-MM-DD`). Defaults to today."
          },
          {
            "name": "tz",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "UTC"
            },
            "description": "Timezone the range is read in, as an IANA name (`America/New_York`). Defaults to `UTC`."
          }
        ],
        "responses": {
          "200": {
            "description": "The summary for the range.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsSummaryResponse"
                },
                "examples": {
                  "summary": {
                    "value": {
                      "video_id": 481,
                      "video_code": "9f2c1a7e-4d3b-4a11-9e77-0b2c5d8e1f34",
                      "from": "2026-06-17",
                      "to": "2026-07-17",
                      "tz": "UTC",
                      "summary": {
                        "plays": 59627,
                        "unique_plays": 51204,
                        "completion_count": 8143,
                        "completion_rate": 13.7,
                        "avg_watch_time_s": 214.6,
                        "bounce_count": 6021
                      }
                    }
                  }
                }
              }
            }
          },
          "304": {
            "description": "Not modified. The `ETag` you sent as `If-None-Match` still matches, so no body is returned."
          },
          "401": {
            "description": "`AUTH_REQUIRED`: no token sent. `INVALID_TOKEN`: the token is invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "`INSUFFICIENT_SCOPE`: the token does not carry `analytics:read`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No video with that ID exists in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed. A date could not be parsed, or `to` fell before `from`."
          },
          "429": {
            "description": "Rate limited. Reads are capped at 600 requests per minute per token."
          }
        }
      }
    },
    "/videos/{video}/analytics/retention": {
      "get": {
        "operationId": "getVideoAnalyticsRetention",
        "summary": "Read a video's retention curve",
        "description": "The share of viewers still watching at each point through the video. Plot it to see the exact second your VSL loses people.\n\nEach bucket carries `watch_pct` as a **fraction between 0 and 1**, not a percent. `0.5` means half of viewers reached that point. Multiply by 100 to render a percentage.\n\nRequires a token with the `analytics:read` scope.\n\nServer: `https://app.trackplay.io/api/v1`",
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "video",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The video's numeric ID."
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start of the range, as an ISO date. Defaults to 30 days ago."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End of the range, as an ISO date. Defaults to today."
          },
          {
            "name": "tz",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "UTC"
            },
            "description": "Timezone the range is read in, as an IANA name. Defaults to `UTC`."
          },
          {
            "name": "buckets",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 200
            },
            "description": "How many points to divide the video into. Defaults to 100. Capped at 200."
          }
        ],
        "responses": {
          "200": {
            "description": "The retention curve.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetentionResponse"
                },
                "examples": {
                  "retention": {
                    "value": {
                      "video_id": 481,
                      "buckets": [
                        { "bucket_pct": 0, "watch_pct": 1.0 },
                        { "bucket_pct": 25, "watch_pct": 0.6413 },
                        { "bucket_pct": 50, "watch_pct": 0.4192 },
                        { "bucket_pct": 75, "watch_pct": 0.2517 },
                        { "bucket_pct": 100, "watch_pct": 0.1366 }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "`AUTH_REQUIRED`: no token sent. `INVALID_TOKEN`: the token is invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "`INSUFFICIENT_SCOPE`: the token does not carry `analytics:read`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No video with that ID exists in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed. A date could not be parsed, `to` fell before `from`, or `buckets` was out of range."
          },
          "429": {
            "description": "Rate limited. Reads are capped at 600 requests per minute per token."
          }
        }
      }
    },
    "/videos/{video}/analytics/events": {
      "get": {
        "operationId": "getVideoAnalyticsEvents",
        "summary": "List a video's raw events",
        "description": "The raw, auditable event stream for one video: every play, pause, ended, and conversion, one row at a time. No vanity metric sits on top of it.\n\nThis endpoint is paginated. Read `events.total` for the count, then walk the pages with `page` and `per_page`. `ip_hash` is always `null` in the API response.\n\nRequires a token with the `analytics:read` scope.\n\nServer: `https://app.trackplay.io/api/v1`",
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "video",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The video's numeric ID."
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start of the range, as an ISO date. Defaults to 7 days ago."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End of the range, as an ISO date. Defaults to today."
          },
          {
            "name": "tz",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "UTC"
            },
            "description": "Timezone the range is read in, as an IANA name. Defaults to `UTC`."
          },
          {
            "name": "event_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Return only this event type, e.g. `play`, `pause`, `ended`, or `conversion`. Omit to return every type."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Which page to return. Defaults to 1."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 500
            },
            "description": "Rows per page. Defaults to 100. Capped at 500."
          }
        ],
        "responses": {
          "200": {
            "description": "One page of events.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventsResponse"
                },
                "examples": {
                  "events": {
                    "value": {
                      "video_id": 481,
                      "page": 1,
                      "per_page": 100,
                      "events": {
                        "total": 4812,
                        "data": [
                          {
                            "event_type": "play",
                            "event": "video-play",
                            "session_code": "3b1e5c90-77aa-4f2d-8c31-6de0a9b41c22",
                            "watch_seconds": 0,
                            "video_time": 0,
                            "created_at": "2026-07-16T14:02:11Z",
                            "ip_hash": null
                          },
                          {
                            "event_type": "conversion",
                            "event": "conversion",
                            "session_code": "3b1e5c90-77aa-4f2d-8c31-6de0a9b41c22",
                            "watch_seconds": 268,
                            "video_time": 214,
                            "created_at": "2026-07-16T14:06:39Z",
                            "ip_hash": null
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "`AUTH_REQUIRED`: no token sent. `INVALID_TOKEN`: the token is invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "`INSUFFICIENT_SCOPE`: the token does not carry `analytics:read`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No video with that ID exists in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed. A date could not be parsed, `to` fell before `from`, or `per_page` was out of range."
          },
          "429": {
            "description": "Rate limited. Reads are capped at 600 requests per minute per token."
          }
        }
      }
    },
    "/videos/{video}/analytics/conversions": {
      "get": {
        "operationId": "getVideoAnalyticsConversions",
        "summary": "Read a video's conversions",
        "description": "Sales credited to one video over a date range, grouped by conversion name, with a count and total revenue for each. This is the money the video earned, not the plays it counted.\n\nRequires a token with the `analytics:read` scope.\n\nServer: `https://app.trackplay.io/api/v1`",
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "video",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The video's numeric ID."
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start of the range, as an ISO date. Defaults to 30 days ago."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End of the range, as an ISO date. Defaults to today."
          },
          {
            "name": "tz",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "UTC"
            },
            "description": "Timezone the range is read in, as an IANA name. Defaults to `UTC`."
          }
        ],
        "responses": {
          "200": {
            "description": "Conversions grouped by name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionsResponse"
                },
                "examples": {
                  "conversions": {
                    "value": {
                      "video_id": 481,
                      "from": "2026-06-17",
                      "to": "2026-07-17",
                      "conversions": [
                        {
                          "event_name": "conversion",
                          "count": 214,
                          "total_revenue": 63558.0
                        },
                        {
                          "event_name": "upsell",
                          "count": 38,
                          "total_revenue": 7562.0
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "`AUTH_REQUIRED`: no token sent. `INVALID_TOKEN`: the token is invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "`INSUFFICIENT_SCOPE`: the token does not carry `analytics:read`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No video with that ID exists in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed. A date could not be parsed, or `to` fell before `from`."
          },
          "429": {
            "description": "Rate limited. Reads are capped at 600 requests per minute per token."
          }
        }
      }
    },
    "/exports": {
      "post": {
        "operationId": "createExport",
        "summary": "Start an export",
        "description": "Ask for a batch of analytics as a file. An export runs in the background, so this call returns straight away with an `export_id` and `status: pending`. Poll `GET /exports/{export}` until it is `ready`, then fetch the file from `download_url`.\n\nOne export can cover up to 50 videos.\n\nSend an `Idempotency-Key` so a retried request returns the same export instead of starting a second one.\n\nRequires a token with the `analytics:read` scope.\n\nServer: `https://app.trackplay.io/api/v1`",
        "tags": [
          "Exports"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Retry-safe key. The first response for a given key is cached for 24 hours and replayed on a repeat, with `Idempotency-Replayed: true` set."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExportRequest"
              },
              "examples": {
                "events": {
                  "summary": "Export raw events for two videos as CSV",
                  "value": {
                    "video_ids": [481, 482],
                    "from": "2026-06-17",
                    "to": "2026-07-17",
                    "format": "csv",
                    "type": "events"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted. The export is queued. Poll its status to get the download link.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportCreatedResponse"
                },
                "examples": {
                  "pending": {
                    "value": {
                      "export_id": "tpex_9f2c1a7e4d3b4a11",
                      "status": "pending"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "`AUTH_REQUIRED`: no token sent. `INVALID_TOKEN`: the token is invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "`INSUFFICIENT_SCOPE`: the token does not carry `analytics:read`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "One or more of the `video_ids` do not exist in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "not_found": {
                    "value": {
                      "error": {
                        "code": "VIDEO_NOT_FOUND",
                        "message": "One or more video IDs not found."
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failed. Check `video_ids` holds 1 to 50 IDs, `to` is on or after `from`, and `format` and `type` are one of the allowed values."
          },
          "429": {
            "description": "Rate limited. Reads are capped at 600 requests per minute per token."
          }
        }
      }
    },
    "/exports/{export}": {
      "get": {
        "operationId": "getExport",
        "summary": "Get an export",
        "description": "Poll an export's status. While it runs, `status` is `pending`. When it finishes, `status` is `ready` and `download_url` carries the link to the file. Fetch the file from there.\n\nAn export expires after a while. A finished-then-expired export returns `404`.\n\nRequires a token with the `analytics:read` scope.\n\nServer: `https://app.trackplay.io/api/v1`",
        "tags": [
          "Exports"
        ],
        "parameters": [
          {
            "name": "export",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The `export_id` returned when you started the export, e.g. `tpex_9f2c1a7e4d3b4a11`."
          }
        ],
        "responses": {
          "200": {
            "description": "The export's current status. Carries `download_url` once `status` is `ready`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportStatusResponse"
                },
                "examples": {
                  "pending": {
                    "summary": "Still running",
                    "value": {
                      "export_id": "tpex_9f2c1a7e4d3b4a11",
                      "status": "pending",
                      "download_url": null
                    }
                  },
                  "ready": {
                    "summary": "Finished, ready to download",
                    "value": {
                      "export_id": "tpex_9f2c1a7e4d3b4a11",
                      "status": "ready",
                      "download_url": "https://app.trackplay.io/api/v1/exports/tpex_9f2c1a7e4d3b4a11/download"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "`AUTH_REQUIRED`: no token sent. `INVALID_TOKEN`: the token is invalid, expired, or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "`INSUFFICIENT_SCOPE`: the token does not carry `analytics:read`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No export with that ID, or it has expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "not_found": {
                    "value": {
                      "error": {
                        "code": "EXPORT_NOT_FOUND",
                        "message": "Export not found or expired."
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Reads are capped at 600 requests per minute per token."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A scoped token minted in **Settings → API tokens**. Send it as `Authorization: Bearer tplt_…` or `X-API-Key: tplt_…`."
      }
    },
    "schemas": {
      "ConversionRequest": {
        "type": "object",
        "required": [
          "video_code"
        ],
        "properties": {
          "video_code": {
            "type": "string",
            "maxLength": 64,
            "description": "The video the sale is credited to. Required. A conversion with no video cannot be attributed to anything."
          },
          "session_code": {
            "type": "string",
            "maxLength": 128,
            "description": "The viewer's session. Optional, but without it the sale cannot be joined to the play that caused it, and your play-to-sale rate stays blind to it."
          },
          "event": {
            "type": "string",
            "maxLength": 64,
            "default": "conversion",
            "description": "What happened. Defaults to `conversion`."
          },
          "conversion_id": {
            "type": "string",
            "maxLength": 128,
            "description": "Your order ID. Defaults to a generated UUID if omitted."
          },
          "conversion_value": {
            "type": "number",
            "minimum": 0,
            "description": "Sale amount."
          },
          "conversion_currency": {
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "description": "Three-letter currency code, e.g. `USD`."
          },
          "conversion_product_code": {
            "type": "string",
            "maxLength": 128
          },
          "conversion_product_name": {
            "type": "string",
            "maxLength": 255
          },
          "conversion_customer_email": {
            "type": "string",
            "format": "email",
            "maxLength": 255
          },
          "conversion_customer_name": {
            "type": "string",
            "maxLength": 255
          },
          "conversion_customer_phone": {
            "type": "string",
            "maxLength": 64
          },
          "conversion_data": {
            "type": "object",
            "additionalProperties": true,
            "description": "Any extra fields you want to keep with the sale."
          },
          "is_test": {
            "type": "boolean",
            "description": "Marks the row as a test so it can be excluded from reporting."
          },
          "split_test_id": {
            "type": "string",
            "maxLength": 64,
            "description": "Send with `split_test_variation_id` or not at all. One without the other cannot identify an arm, and a half-attributed row looks valid while being wrong."
          },
          "split_test_variation_id": {
            "type": "string",
            "maxLength": 64,
            "description": "Send with `split_test_id` or not at all."
          },
          "occurred_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the sale happened. Defaults to now."
          }
        }
      },
      "CustomEventRequest": {
        "type": "object",
        "required": [
          "event"
        ],
        "additionalProperties": false,
        "properties": {
          "event": {
            "type": "string",
            "maxLength": 120,
            "description": "The event name, e.g. `quiz_completed`. Lowercased and reduced to `[a-z0-9_-]`, then truncated to 64 characters. A workspace may use 100 distinct names, so keep the set small and fixed.",
            "examples": [
              "quiz_completed"
            ]
          },
          "session_id": {
            "type": "string",
            "maxLength": 100,
            "description": "The viewer's session. This is the best identifier to send. Read it from the player with `window.trackplay.getSessionId()`."
          },
          "device_id": {
            "type": "string",
            "maxLength": 100,
            "description": "Fallback if you have no session."
          },
          "profile_id": {
            "type": "string",
            "maxLength": 100,
            "description": "Fallback if you have no session or device."
          },
          "email": {
            "type": "string",
            "maxLength": 255,
            "description": "Identity fallback. Hashed on arrival and never stored raw."
          },
          "external_id": {
            "type": "string",
            "maxLength": 120,
            "description": "Identity fallback. Your own customer ID, if you have already linked it."
          },
          "value": {
            "type": "number",
            "description": "A number to report on this event. **Not revenue.** It never feeds revenue, ROAS, EPC, or RPV. Clamped to plus or minus 1,000,000,000."
          },
          "video_code": {
            "type": "string",
            "maxLength": 100,
            "description": "Credit the event to a specific video. Wins over the session's last video."
          },
          "event_id": {
            "type": "string",
            "maxLength": 120,
            "description": "Your idempotency key. Send one. A retry with the same `event_id` collapses into the same row instead of double counting. Omit it and delivery is at-least-once, so duplicates are possible."
          },
          "properties": {
            "type": "object",
            "additionalProperties": true,
            "description": "Up to 20 extra key/value pairs. Keys are capped at 40 characters, values at 100. This is where varying data belongs. Never in the event name."
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "When the event happened. Defaults to arrival time."
          }
        }
      },
      "CustomEventResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "event": {
            "type": "string",
            "description": "The normalized event name that was stored."
          },
          "event_id": {
            "type": "string",
            "description": "Your `event_id`, or the one generated for you."
          },
          "attributed": {
            "type": "boolean",
            "description": "Whether the event landed on a viewer's session."
          },
          "matched_by": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "session_id",
              "device_id",
              "profile_id",
              "identity",
              null
            ],
            "description": "Which identifier resolved the viewer. `null` when nothing matched."
          }
        }
      },
      "EventError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "A stable error code, e.g. `INSUFFICIENT_SCOPE`."
          },
          "message": {
            "type": "string",
            "description": "What went wrong, in plain English."
          }
        }
      },
      "ApiError": {
        "type": "object",
        "description": "The error shape the app API returns on a failed read or export.",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "A stable error code, e.g. `INSUFFICIENT_SCOPE`, `VIDEO_NOT_FOUND`, `EXPORT_NOT_FOUND`."
              },
              "message": {
                "type": "string",
                "description": "What went wrong, in plain English."
              }
            }
          }
        }
      },
      "AnalyticsSummaryResponse": {
        "type": "object",
        "properties": {
          "video_id": {
            "type": "integer"
          },
          "video_code": {
            "type": "string"
          },
          "from": {
            "type": "string",
            "description": "The start date the summary was read over."
          },
          "to": {
            "type": "string",
            "description": "The end date the summary was read over."
          },
          "tz": {
            "type": "string",
            "description": "The timezone the range was read in."
          },
          "summary": {
            "type": "object",
            "properties": {
              "plays": {
                "type": "integer",
                "description": "Total plays in the range."
              },
              "unique_plays": {
                "type": "integer",
                "description": "Plays from distinct viewers."
              },
              "completion_count": {
                "type": "integer",
                "description": "Plays that reached the end."
              },
              "completion_rate": {
                "type": "number",
                "description": "Completions as a percent, to one decimal place. `13.7` means 13.7%."
              },
              "avg_watch_time_s": {
                "type": "number",
                "description": "Average watch time in seconds."
              },
              "bounce_count": {
                "type": "integer",
                "description": "Plays that left almost immediately."
              }
            }
          }
        }
      },
      "RetentionResponse": {
        "type": "object",
        "properties": {
          "video_id": {
            "type": "integer"
          },
          "buckets": {
            "type": "array",
            "description": "One entry per point through the video, in order.",
            "items": {
              "type": "object",
              "properties": {
                "bucket_pct": {
                  "type": "number",
                  "description": "How far through the video this point sits, from 0 to 100."
                },
                "watch_pct": {
                  "type": "number",
                  "description": "The share of viewers still watching at this point, as a **fraction between 0 and 1** to four decimal places. This is not a percent. `0.6413` means 64.13% of viewers reached this point."
                }
              }
            }
          }
        }
      },
      "EventsResponse": {
        "type": "object",
        "properties": {
          "video_id": {
            "type": "integer"
          },
          "page": {
            "type": "integer",
            "description": "The page returned."
          },
          "per_page": {
            "type": "integer",
            "description": "Rows per page."
          },
          "events": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer",
                "description": "Total rows across every page. Use it to know when you have read them all."
              },
              "data": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "event_type": {
                      "type": "string",
                      "description": "The event category, e.g. `play`, `pause`, `ended`, `conversion`."
                    },
                    "event": {
                      "type": "string",
                      "description": "The raw event name as it was stored."
                    },
                    "session_code": {
                      "type": "string",
                      "description": "The viewer's session this event belongs to."
                    },
                    "watch_seconds": {
                      "type": [
                        "number",
                        "null"
                      ],
                      "description": "Seconds watched at the moment of the event. `null` when it does not apply."
                    },
                    "video_time": {
                      "type": [
                        "number",
                        "null"
                      ],
                      "description": "Position in the video, in seconds, at the moment of the event. `null` when it does not apply."
                    },
                    "created_at": {
                      "type": "string",
                      "description": "When the event was recorded."
                    },
                    "ip_hash": {
                      "type": "null",
                      "description": "Always `null` in the API response."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ConversionsResponse": {
        "type": "object",
        "properties": {
          "video_id": {
            "type": "integer"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "conversions": {
            "type": "array",
            "description": "One entry per conversion name.",
            "items": {
              "type": "object",
              "properties": {
                "event_name": {
                  "type": "string",
                  "description": "The conversion name, e.g. `conversion` or `upsell`."
                },
                "count": {
                  "type": "integer",
                  "description": "How many of this conversion landed in the range."
                },
                "total_revenue": {
                  "type": "number",
                  "description": "Summed revenue for this conversion name."
                }
              }
            }
          }
        }
      },
      "ExportRequest": {
        "type": "object",
        "required": [
          "video_ids",
          "from",
          "to",
          "format",
          "type"
        ],
        "properties": {
          "video_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "minItems": 1,
            "maxItems": 50,
            "description": "The videos to export. Between 1 and 50 IDs. Every ID must exist in this workspace."
          },
          "from": {
            "type": "string",
            "format": "date",
            "description": "Start of the range, as an ISO date. Required."
          },
          "to": {
            "type": "string",
            "format": "date",
            "description": "End of the range, as an ISO date. Must be on or after `from`. Required."
          },
          "format": {
            "type": "string",
            "enum": [
              "csv",
              "json"
            ],
            "description": "The file format. Required."
          },
          "type": {
            "type": "string",
            "enum": [
              "events",
              "summary",
              "retention",
              "conversions"
            ],
            "description": "Which dataset to export. Required."
          }
        }
      },
      "ExportCreatedResponse": {
        "type": "object",
        "properties": {
          "export_id": {
            "type": "string",
            "description": "The export's ID, e.g. `tpex_9f2c1a7e4d3b4a11`. Poll it to get the download link.",
            "examples": [
              "tpex_9f2c1a7e4d3b4a11"
            ]
          },
          "status": {
            "type": "string",
            "description": "Always `pending` at this point.",
            "examples": [
              "pending"
            ]
          }
        }
      },
      "ExportStatusResponse": {
        "type": "object",
        "properties": {
          "export_id": {
            "type": "string",
            "description": "The export's ID."
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "ready"
            ],
            "description": "`pending` while it runs, `ready` once the file is built."
          },
          "download_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "The link to the finished file. `null` until `status` is `ready`."
          }
        }
      }
    }
  }
}
